<%- include ("./partials/head.ejs") %> <%- include
("./partials/homeNavbar.ejs") %>

<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <img id="logo" class="card-img-top" src="../images/games-icon.png" alt="Logo" style="width: 10rem; max-width: 100%;">
            
            <h1 class="display-4">Bem-vindo ao API Games!</h1>
            <p class="lead">Aqui no API Games, estamos comprometidos em trazer as últimas novidades, tendências e insights do mundo gamer.</p>
            <hr class="my-4">
            <p>Nosso objetivo é fornecer conteúdo de qualidade e informativo para mantê-lo atualizado sobre as notícias mais recentes.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
          </div>
        <hr>
        <div class="card-container">
        <% games.forEach(game =>{ %>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%= game.imageUrl %>" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title"><%= game.title %></h5>          
                  <a href="/games/<%= game.slug %>" class="btn btn-primary">Visitar</a>
                </div>
              </div>
            <br>
            <% }) %>
        </div>
            <div class="row">
               <div class="col col-12">
                <a href="/games/page/2" style="float: right;">Next >>></a>
               </div>
                <hr>
            </div>
            <hr>
    </div>
</body>

<%- include ("./partials/footer.ejs") %>